*.o
*.obj
*.sdf
*.suo
*.pdb
*.user
*.filters
*.opensdf
*.tmp
*.log
*.dat
a.txt
tools/cparser/FTCHECK*.BAT
tools/cparser/Debug
tools/cparser/Release
tools/cparser/x64
tools/cparser/ipch
tools/cparser/CParser.h
!tools/cparser/Debug/cparser.exe
!tools/cparser/Release/cparser.exe
!tools/cparser/x64/Debug/cparser64.exe
!tools/cparser/x64/Release/cparser64.exe
tools/cparser/test/*.exe
tools/cparser/test/*.obj
tools/cparser/test/*.o
tools/mcpp-2.7.2-hacked/confdefs.h
tools/mcpp-2.7.2-hacked/config.log
tools/mcpp-2.7.2-hacked/config.status
tools/mcpp-2.7.2-hacked/conftest.defines
tools/mcpp-2.7.2-hacked/libtool
tools/mcpp-2.7.2-hacked/Debug
tools/mcpp-2.7.2-hacked/Release
tools/mcpp-2.7.2-hacked/x64
!tools/mcpp-2.7.2-hacked/Debug/mcpp.exe
!tools/mcpp-2.7.2-hacked/Release/mcpp.exe
!tools/mcpp-2.7.2-hacked/x64/Debug/mcpp.exe
!tools/mcpp-2.7.2-hacked/x64/Release/mcpp.exe
tools/redirector/Debug
tools/redirector/Release
tools/redirector/x64
!tools/redirector/Debug/redirector.exe
!tools/redirector/Release/redirector.exe
!tools/redirector/x64/Debug/redirector64.exe
!tools/redirector/x64/Release/redirector64.exe
tools/dllexpdumper/Debug
tools/dllexpdumper/Release
tools/dllexpdumper/x64
!tools/dllexpdumper/Debug/redirector.exe
!tools/dllexpdumper/Release/redirector.exe
!tools/dllexpdumper/x64/Debug/redirector64.exe
!tools/dllexpdumper/x64/Release/redirector64.exe
tools/won32_sanitizer/Debug
tools/won32_sanitizer/Release
tools/won32_sanitizer/x64
!tools/won32_sanitizer/Debug/redirector.exe
!tools/won32_sanitizer/Release/redirector.exe
!tools/won32_sanitizer/x64/Debug/redirector64.exe
!tools/won32_sanitizer/x64/Release/redirector64.exe
Wonders*/sanitize-*.c
Wonders*/sanitize-*.exe
pack-cl-32/
pack-cl-64/
!DoWondersWeb/includes.dat
