*.o
*.obj
*.sdf
*.suo
*.pdb
*.user
*.filters
*.opensdf
*.tmp
*.log
dll-info-32.dat
dll-info-64.dat
Wonders*/*.dat
tools/cparser/*.dat
tools/cparser/FTCHECK*.BAT
tools/cparser/Debug
tools/cparser/Release
tools/cparser/x64
tools/cparser/ipch
tools/cparser/CParser.h
tools/cparser/cparser.exe
tools/cparser/cparser64.exe
tools/cparser/test/*.exe
tools/cparser/test/*.obj
tools/cparser/test/*.o
tools/mcpp-2.7.2-hacked/confdefs.h
tools/mcpp-2.7.2-hacked/config.log
tools/mcpp-2.7.2-hacked/config.status
tools/mcpp-2.7.2-hacked/conftest.defines
tools/mcpp-2.7.2-hacked/libtool
tools/mcpp-2.7.2-hacked/src/mcpp.exe
tools/mcpp-2.7.2-hacked/Debug
tools/mcpp-2.7.2-hacked/Release
tools/mcpp-2.7.2-hacked/x64
tools/redirector/redirector.exe
tools/redirector/redirector64.exe
tools/redirector/Debug
tools/redirector/Release
tools/redirector/x64
tools/dllexpdumper/dllexpdumper.exe
tools/dllexpdumper/dllexpdumper64.exe
tools/dllexpdumper/Debug
tools/dllexpdumper/Release
tools/dllexpdumper/x64
tools/won32_sanitizer/won32_sanitizer.exe
tools/won32_sanitizer/won32_sanitizer64.exe
tools/won32_sanitizer/Debug
tools/won32_sanitizer/Release
tools/won32_sanitizer/x64
Wonders*/sanitize-*.c
Wonders*/sanitize-*.exe
pack-cl-32/
pack-cl-64/
